<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.co.cinema.admin.AdminMapper">
<!--****************************************************************************************
	메인화면쿼리! 
	*************************************************************************************-->
	<!-- 메인화면 하단 영화별 매출표 -->
	<select id="selectClientCount"
			resultType="kr.co.cinema.dto.MovieAndBranchDayCount">
			SELECT 
				mov_korName AS movKorName, 
				mov_openDate AS movOpenDate, 
				brcCnt_clientCount AS brcCntClientCount
			FROM 
				MOVIE 
			INNER JOIN 
				BRANCH_DAY_COUNT 
			ON 
				MOVIE.mov_code = BRANCH_DAY_COUNT.mov_code 
			GROUP BY 
				MOVIE.mov_korName 
			ORDER BY 
				BRANCH_DAY_COUNT .brcCnt_clientCount 
			DESC LIMIT 4
	</select>
<!--****************************************************************************************
	지점관리쿼리  : 지점등록/지점조회/지점수정/지점탈퇴
	*************************************************************************************-->
	<!-- 지점리스트 조회 -->
	<select id="selectBranchList"
			resultType="kr.co.cinema.dto.Branch">
			SELECT
				BRANCH.brc_code AS brcCode,
				BRANCH.brc_name AS brcName,
				BRANCH.brc_local AS brcLocal,
				BRANCH.brc_addr AS brcAddr,
				BRANCH.brc_infoDetail AS brcInfoDetail
			FROM
				BRANCH
	</select>
	
	<!-- 지점등록 -->
	<insert id="insertBranch"
			parameterType="kr.co.cinema.dto.Branch">
			INSERT INTO 
				BRANCH 
				( 
				brc_name, 
				brc_local, 
				brc_addr, 
				brc_infoDetail, 
				brc_imgPath
				) 
			VALUES 
				( 
				#{brcName}, 
				#{brcLocal}, 
				#{brcAddr}, 
				#{brcInfoDetail}, 
				#{brcImgPath} 
				); 
	</insert>
	
	<!-- 수정 전 지점코드로 지점데이터 조회 -->
	<select id="selectBranchForUpdate"
			resultType="kr.co.cinema.dto.Branch">
			SELECT
				BRANCH.brc_code AS brcCode,
				BRANCH.brc_name AS brcName,
				BRANCH.brc_local AS brcLocal,
				BRANCH.brc_addr AS brcAddr,
				BRANCH.brc_infoDetail AS brcInfoDetail,
				BRANCH.brc_imgPath AS brcImgPath
			FROM
				BRANCH
			WHERE
				BRANCH.brc_code = #{brcCode}
	</select>
	
	<!-- 지점수정 -->
	<update id="updateBranch"
			parameterType="kr.co.cinema.dto.Branch">
			UPDATE 
				BRANCH 
			SET 
				BRANCH.brc_name = #{brcName},
				BRANCH.brc_local = #{brcLocal},
				BRANCH.brc_addr = #{brcAddr},
				BRANCH.brc_infoDetail = #{brcInfoDetail},
				BRANCH.brc_imgPath = #{brcImgPath} 
			WHERE 
				BRANCH.brc_code = #{brcCode}
	</update>
	
	<!-- 지점탈퇴 -->
	<delete id="deleteBranch"
			parameterType="kr.co.cinema.dto.Branch">
			DELETE FROM 
				BRANCH 
			WHERE 
				BRANCH.brc_code = #{brcCode}
	</delete>
	
<!--****************************************************************************************
	지점관리자쿼리  : 지점관리자등록/지점관리자조회/지점관리자수정/지점관리자삭제
	*************************************************************************************-->
	
	<!-- 지점관리자 등록하기위한 지점 조회 -->
	<select id="selectAdminList"
			resultType="kr.co.cinema.dto.AdminAndBranch">
		select 
			ADMIN.adm_id AS admId,
			ADMIN.adm_date AS admDate,
		 	BRANCH.brc_name AS brcName,
		 	BRANCH.brc_local AS brcLocal,
		 	BRANCH.brc_code AS brcCode
		from
			ADMIN
		inner join
			BRANCH
		on
			ADMIN.brc_code = BRANCH.brc_code
	</select>
	
	<insert id="insertAdmin"
			parameterType="kr.co.cinema.dto.Admin">
		insert into 
			ADMIN
			( 
			adm_id,
			brc_code,
			adm_pw,
			adm_auth,
			adm_date
			)
		 values 
			(
			#{admId}, 
			#{brcCode}, 
			#{admPw}, 
			'지점관리자', 
			now() 
			); 
	</insert>
</mapper>