<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.co.cinema.movie.MovieMapper">

	<!-- 박스오피스 리스트 가져오기 -->
	<select id="selectListBoxOffice" resultType="map">
		SELECT
			MOVIE.mov_code as movCode,
			MOVIE.mov_korName as movKorName,
			MOVIE.mov_grade as movGrade,
			MOVIE.mov_imgPath as movImgPath,
			ROUND(GRADE.gra_acGrade/GRADE.gra_totalNum,2) as grade ,
			ROUND(GRADE.gra_acGrade/GRADE.gra_totalNum/2) as starGrade,
			ANALYSIS.anl_totalTicketCount as totalTicketCount	
		FROM
			MOVIE LEFT JOIN ANALYSIS ON ANALYSIS.mov_code = MOVIE.mov_code
					LEFT JOIN GRADE ON GRADE.mov_code = MOVIE.mov_code
		ORDER BY 
			ANALYSIS.anl_totalTicketCount DESC
	</select>
	
</mapper>