/*
---------------------------- 정빈 추가 ---------------------------------
*/
	@font-face {
		font-family: 'nanum'; /* 폰트 패밀리 이름 주기*/
		src: url('./NanumGothic.ttf'); /*폰트 파일 주소*/
	}
	
	body{
		font-family:'nanum' !important;
	}
	
	/* 현재 선택된 블럭 */
	.selectBlock {
		background-color : #01579b ;
		color:white;
	}
	
	/* 영화 지점 영화 상영일정 버튼 */
	.scDate , .scBranch , .scMovie , .scTime{
		cursor:pointer;
		width:210px;max-width:auto;
	}
	
	/* 영화 지점 영화 상영일정 버튼 크기*/
	.selectorDiv{
		height:30px;
		margin-left:10px;
		line-height:30px;
	}
	
	/* 좌석 기본 사각 */
	.seat{
		font-size:11px;
		cursor:pointer;
		width:16px;
		height:16px;
		display:inline-block;
		text-align:center;
		line-height:14px;
	}
	/* 사용 가능 좌석 */
	.able{
		background-color: #686868;
		color:white;
	}
	/* 사용중 좌석  */
	.use{
		background-color: #D5D5D5;
		color:white;
		background-image: url('../module-img/seat_use.png');
	}
	/* 사용불가능 좌석 */
	.unable{
		background-color: #D5D5D5;
		color:white;
	}
	/* 현재선택좌석 */
	.currentSelect{
		background-color: #24468A;
		color:white;
	}	
	/* 시트 행 */
	.seat-Row{
		font-size:11px;
		cursor:pointer;
		width:16px;
		height:16px;
    	border-top: 1px solid gray;
		margin: 0 5 0 0;
		display:inline-block;
		text-align:center;
		line-height:14px;
	}
	/* 좌석영역 수직정렬 랩핑 */
	.seatWrapper{
		width:600px;
		height:200px;
		display:table;
	}
	/* 수직정렬 */
	.seatCell{
	  display: table-cell; 
	  vertical-align: middle;
	}
	/* 선택한 좌석 행열 정보 */
	.seatInfo{
		color:white;
		background-color:#01579b ;
		width:30px; 
		margin:3px;
		text-align:center;
	}
		
		/* 등급 아이콘 */
		
		/*16*16 전체*/
		.grade16_All{
			max-width:16px !important;
			max-hight:16px !important;
			width:16px;
			height:16px;
			background-image:url('../module-img/grade_icon/All.png');
			background-size: 16px 16px; 
			display:inline-block;
		
		}
		
		/*16*16 12세*/
		.grade16_12{
			max-width:16px !important;
			max-hight:16px !important;
			width:16px;
			height:16px;
			background-image:url('../module-img/grade_icon/12.png');
			background-size: 16px 16px; 
			background-position: center;
			display:inline-block;
			postion:absolute;
			top:10px;
			
		}
		
		/*16*16 15세*/
		.grade16_15{
			max-width:16px !important;
			max-hight:16px !important;
			width:16px;
			height:16px;
			background-image:url('../module-img/grade_icon/15.png');
			background-size: 16px 16px; 
			display:inline-block;
		
		}
		
		/*16*16 19세*/
		.grade16_19{
			max-width:16px !important;
			max-hight:16px !important;
			width:16px;
			height:16px;
			background-image:url('../module-img/grade_icon/19.png');
			background-size: 16px 16px; 
			display:inline-block;
		}	
	
	
/*
---------------------------- 정빈 추가 ---------------------------------
*/		