<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.co.cinema.booking.BookingMapper">
  
  <!-- 영화 예매페이지에서 나타낼 현재 상영중인 영화가 있는 날짜 조회 -->
  <select id="selectListDate" resultType="String">
	SELECT DISTINCT 
		SCREEN_SCHEDULE.scs_date
	FROM
		SCREEN_SCHEDULE
  </select>
  
  <!-- 영화 예매페이지에서 나타낼 현재 상영중인 영화 조회 -->
  <select id="selectListMovie" resultType="kr.co.cinema.dto.Movie">
	SELECT
		MOVIE.mov_code as movCode,
		MOVIE.mov_korName as movKorName
	FROM
		MOVIE
	WHERE
		MOVIE.mov_status='상영중';  
  </select>
  
  <!-- 영화 예매페이지에서 나타낼 현재 상영중인 지점 조회 -->
  <select id="selectListBranch" resultType="kr.co.cinema.dto.Branch">
	SELECT
		BRANCH.brc_code as brcCode,
		BRANCH.brc_name as brcName,
		BRANCH.brc_local as brcLocal
	FROM
		BRANCH  
  </select>    
  
</mapper>