<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.co.cinema.booking.BookingMapper">


  <!-- //상영일정코드에 맞는 사용중인 좌석 수-->
  <select id="countUseSeat" resultType="int" parameterType="String">
	SELECT
		count(*)
	FROM
		SEAT
	WHERE
		SEAT.scs_code='43170221101101101' &amp;&amp;
		SEAT.seat_useStatus="able"
  </select>

  <!-- //상영일정코드에 맞는 좌석 수 -->
  <select id="countTotalSeat" resultType="int" parameterType="String">
	SELECT
		count(*)
	FROM
		SEAT
	WHERE
		SEAT.scs_code='43170221101101101' &amp;&amp;
		SEAT.seat_useStatus="use"
  </select>
  
  <!-- //상영일정코드에 맞는 좌석 정보 가져오기 -->
  <select id="selectListSeat" resultType="kr.co.cinema.dto.Seat" parameterType="String">
	SELECT
		seat_code as seatCode,
		scs_code as scsCode,
		scr_code as scrCode,
		seat_row as seatRow,
		seat_col as seatCol,
		seat_useStatus as seatUseStatus
	FROM
		SEAT
	WHERE
		SEAT.scs_code=#{scsCode}
	ORDER BY 
		`seat_code` ASC	;	
  </select>

  <!-- 상영일정코드에 맞는 상영정보 및 지점정보 영화정보 가져오기 -->
  <select id="selectOneScreenSchedule" resultType="map" parameterType="String">
	SELECT
		SCREEN_SCHEDULE.mov_code as movCode,
		SCREEN_SCHEDULE.brc_code as brcCode,
		SCREEN_SCHEDULE.scr_code as scrCode,
		SCREEN_SCHEDULE.scs_date as scsDate,
		SCREEN_SCHEDULE.scs_startTime as scsStartTime,
		SCREEN_SCHEDULE.scs_screen as scsScreen,
		SCREEN_SCHEDULE.scs_timeDiscount as scsTimeDiscount,
		BRANCH.brc_name as brcName,
		MOVIE.mov_korName as movKorName,
		MOVIE.mov_grade as movGrade,
		MOVIE.mov_imgPath movImgPath,
		SCREEN.scr_rowSize as scrRowSize,
		SCREEN.scr_colSize as scrColSize
		
	FROM
		SCREEN_SCHEDULE  
	JOIN 
		BRANCH 
	ON 
		BRANCH.brc_code = SCREEN_SCHEDULE.brc_code 
	JOIN 
		MOVIE
	ON
		MOVIE.mov_code = SCREEN_SCHEDULE.mov_code
	JOIN
		SCREEN
	ON
		SCREEN.scr_code = SCREEN_SCHEDULE.scr_code
	WHERE
		SCREEN_SCHEDULE.scs_code=#{scsCode};
  </select>
  
  <!-- 영화 예매페이지에서 나타낼 현재 상영중인 영화가 있는 날짜 조회 -->
  <select id="selectListDate" resultType="String">
	SELECT DISTINCT 
		SCREEN_SCHEDULE.scs_date
	FROM
		SCREEN_SCHEDULE
	WHERE
		scs_date>now()
	ORDER BY
		scs_date ASC
  </select>
  
  <!-- 영화 예매페이지에서 나타낼 현재 상영중인 영화 조회 -->
  <select id="selectListMovie" resultType="kr.co.cinema.dto.Movie">
	SELECT
		MOVIE.mov_code as movCode,
		MOVIE.mov_korName as movKorName,
		MOVIE.mov_grade as movGrade
	FROM
		MOVIE
	WHERE
		MOVIE.mov_status='상영중';  
  </select>
  
  <!-- 영화 예매페이지에서 나타낼 현재 상영중인 지점 조회 -->
  <select id="selectListBranch" resultType="kr.co.cinema.dto.Branch">
	SELECT
		BRANCH.brc_code as brcCode,
		BRANCH.brc_name as brcName,
		BRANCH.brc_local as brcLocal
	FROM
		BRANCH  
  </select>    
  
  
  
  
  
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ajax ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  <!-- 조건 1개 영화 선택시 지점 가져오기 -->
  <select id="SelectListBranchCheckMovie" resultType="map" parameterType="kr.co.cinema.dto.ScreenSchedule">
	SELECT
		SCREEN_SCHEDULE.brc_code as brcCode,
		(SELECT BRANCH.brc_name FROM BRANCH WHERE BRANCH.brc_code = SCREEN_SCHEDULE.brc_code) as brcName
	FROM
		SCREEN_SCHEDULE
	WHERE
		SCREEN_SCHEDULE.mov_code=#{movCode}
	GROUP BY
		brcCode
  </select>
  
  <!-- ajax 조건 1개  영화 선택시 날짜 가져오기 -->
  <select id="SelectListDateCheckMovie" resultType="map" parameterType="kr.co.cinema.dto.ScreenSchedule">
	SELECT
		SCREEN_SCHEDULE.scs_date as scsDate
	FROM
		SCREEN_SCHEDULE
	WHERE
		SCREEN_SCHEDULE.mov_code=#{movCode}
	GROUP BY
		scsDate
  </select>
  
  <!-- ajax 조건 1개 지점 선택시 영화 가져오기 --> 
  <select id="SelectListMovieCheckBranch" resultType="map" parameterType="kr.co.cinema.dto.ScreenSchedule">
	SELECT
		SCREEN_SCHEDULE.mov_code as movCode,
		(SELECT MOVIE.mov_korName FROM MOVIE WHERE MOVIE.mov_code=SCREEN_SCHEDULE.mov_code) as movKorName,
		(SELECT MOVIE.mov_grade FROM MOVIE WHERE MOVIE.mov_code=SCREEN_SCHEDULE.mov_code) as movGrade
	FROM
		SCREEN_SCHEDULE
	WHERE
		SCREEN_SCHEDULE.brc_code=#{brcCode}
	GROUP BY
		movCode  
  </select> 
  
  <!-- ajax 조건 1개 지점 선택시 날짜 가져오기 --> 
  <select id="SelectListDateCheckBranch" resultType="map" parameterType="kr.co.cinema.dto.ScreenSchedule">
	SELECT
		SCREEN_SCHEDULE.scs_date as scsDate
	FROM
		SCREEN_SCHEDULE
	WHERE
		SCREEN_SCHEDULE.brc_code=#{brcCode}
	GROUP BY
		scsDate 
  </select>   
  
  <!-- ajax 조건 1개 날짜 선택시 영화 가져오기 --> 
  <select id="SelectListMovieCheckDate" resultType="map" parameterType="kr.co.cinema.dto.ScreenSchedule">
	SELECT
		SCREEN_SCHEDULE.mov_code as movCode,
		(SELECT MOVIE.mov_korName FROM MOVIE WHERE MOVIE.mov_code=SCREEN_SCHEDULE.mov_code) as movKorName,
		(SELECT MOVIE.mov_grade FROM MOVIE WHERE MOVIE.mov_code=SCREEN_SCHEDULE.mov_code) as movGrade
	FROM
		SCREEN_SCHEDULE
	WHERE
		SCREEN_SCHEDULE.scs_date=#{Date}
	GROUP BY
		movCode  
  </select>   
  
  <!-- ajax 조건 1개 날짜 선택시 지점 가져오기 --> 
  <select id="SelectListBranchCheckDate" resultType="map" parameterType="kr.co.cinema.dto.ScreenSchedule">
	SELECT
		SCREEN_SCHEDULE.brc_code as brcCode,
		(SELECT BRANCH.brc_name FROM BRANCH WHERE BRANCH.brc_code = SCREEN_SCHEDULE.brc_code) as brcName
	FROM
		SCREEN_SCHEDULE
	WHERE
		SCREEN_SCHEDULE.scs_date=#{Date}
	GROUP BY
		brcCode
  </select>     
  
  
  
  
  
  
  <!-- 조건 2 영화 지점 날짜 중 조건2가지 선택한경우 -->
  <select id="SelectListOptionCheckTwo" resultType="map" parameterType="kr.co.cinema.dto.ScreenSchedule">
  <choose>
  
	<!-- 영화 가져오기  -->
	<when test="movCode==0">
		SELECT
			SCREEN_SCHEDULE.mov_code as movCode,
			(SELECT MOVIE.mov_korName FROM MOVIE WHERE MOVIE.mov_code=SCREEN_SCHEDULE.mov_code) as movKorName,
			(SELECT MOVIE.mov_grade FROM MOVIE WHERE MOVIE.mov_code=SCREEN_SCHEDULE.mov_code) as movGrade
		FROM
			SCREEN_SCHEDULE
		WHERE
			SCREEN_SCHEDULE.brc_code=#{brcCode} &amp;&amp; SCREEN_SCHEDULE.scs_date = #{date}
		GROUP BY
			movCode					
		ORDER BY
			movCode ASC		
	</when>
	
	<when test="brcCode==0">
		<!-- 지점 가져오기 -->
		SELECT
			SCREEN_SCHEDULE.brc_code as brcCode,
			(SELECT BRANCH.brc_name FROM BRANCH WHERE BRANCH.brc_code = SCREEN_SCHEDULE.brc_code) as brcName
		FROM
			SCREEN_SCHEDULE
		WHERE
			SCREEN_SCHEDULE.mov_code=#{movCode} &amp;&amp; SCREEN_SCHEDULE.scs_date = #{date}
		GROUP BY
			brcCode				
		ORDER BY
			brcCode ASC	
	</when>

	<when test="date.equals('')">
		<!-- 날짜 가져오기 -->
		SELECT
			SCREEN_SCHEDULE.scs_date as scsDate
		FROM
			SCREEN_SCHEDULE
		WHERE
			SCREEN_SCHEDULE.mov_code=#{movCode} &amp;&amp; SCREEN_SCHEDULE.brc_code = #{brcCode}
		GROUP BY
			scsDate						
		ORDER BY
			scsDate ASC		
	</when>

	</choose>	
  </select>





  <!-- ajax 조건 3개 영화+지점+날짜에 맞는 상영일정 가져오기 -->
  <select id="SelectListScreenInfo" resultType="kr.co.cinema.dto.ScreenSchedule" parameterType="kr.co.cinema.dto.Movie">
	SELECT 
		SCREEN_SCHEDULE.scs_code as scsCode,
		SCREEN_SCHEDULE.scs_startTime as scsStartTime,
		SCREEN_SCHEDULE.scs_timeDiscount as scsTimeDiscount
	FROM
		SCREEN_SCHEDULE
	WHERE
		SCREEN_SCHEDULE.mov_code = #{movCode} &amp;&amp; 
		SCREEN_SCHEDULE.brc_code = #{brcCode} &amp;&amp; 
		SCREEN_SCHEDULE.scs_date = #{Date};
  </select>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ajax ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
</mapper>