<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.co.cinema.payment.PaymentMapper">
	
	<!-- 비회원 코드 가져오기 -->
	<select id="selectNmemCode" parameterType="String" resultType="String">
		SELECT
			max(nmem_code) AS nmemCode
		FROM
			NON_MEMBER
		WHERE
			nmem_phone=#{phone}
	</select>
	
	<!-- 좌석 정보 가져오기 -->
	<select id="selectSeatInfo" parameterType="String" resultType="kr.co.cinema.dto.Seat">
		SELECT
			seat_row AS seatRow,
			seat_col AS seatCol
		FROM
			SEAT
		WHERE
			seat_code = #{seatCode}
	</select>
	
	
	<!-- 마일리지 정보 가져오기 -->
	<select id="selectMileage" parameterType="String" resultType="Map">
		SELECT
			mem_id AS memId,
			mem_mileage AS memMileage
		FROM
			MEMBER
		WHERE
			mem_id=#{memId}
	</select>
	
	<!-- 결제페이지 영화정보 보여주기 -->
	<select id="selectMovieInfo" parameterType="String" resultType="kr.co.cinema.payment.BookingInfo">
		SELECT 
			SCREEN_SCHEDULE.scs_code AS scsCode,
			MOVIE.mov_korName AS movKorName,
			MOVIE.mov_grade AS movGrade,
			MOVIE.mov_runningTime AS movRunningTime,
			MOVIE.mov_imgPath AS movImgPath,
			SCREEN_SCHEDULE.scs_startTime AS scsStartTime,
			SCREEN_SCHEDULE.scs_finishTime AS scsFinishTime,
			SCREEN_SCHEDULE.scs_date AS scsDate,
			SCREEN_SCHEDULE.scs_timeDiscount AS scsTimeDiscount,
			SCREEN_SCHEDULE.scs_screen AS scsScreen,
			BRANCH.brc_local AS brcLocal,
			BRANCH.brc_name AS brcName,
			(
				SELECT 
					scco_code
				FROM
					SCREEN_COST
				WHERE
					scco_screen=SCREEN_SCHEDULE.scs_screen
				AND
					scco_status="적용"
			) AS sccoCode,
			(
				SELECT
					dcinf_code
				FROM
					DISCOUNT_INFO
				WHERE
					dcinf_info=SCREEN_SCHEDULE.scs_timeDiscount
				AND
					dcinf_status="적용"
				AND
					dcinf_separation="시간"
			)AS dcinfCode
		FROM
			SCREEN_SCHEDULE
		JOIN
			MOVIE
		ON
			SCREEN_SCHEDULE.mov_code = MOVIE.mov_code
		JOIN
			BRANCH
		ON
			SCREEN_SCHEDULE.brc_code = BRANCH.brc_code
		WHERE
			scs_code=#{scsCode}
	</select>
	
	<!-- 할인정보 가져오기 -->
	<select id="selectDiscountInfo" resultType="kr.co.cinema.dto.DiscountInfo">
		SELECT 
			dcinf_code AS dcinfCode,
			dcinf_info AS dcinfInfo,
			dcinf_price AS dcinfPrice,
			dcinf_applyYear AS dcinfApplyYear,
			dcinf_status AS dcinfStatus,
			dcinf_separation AS dcinfSeparation
		FROM 
			DISCOUNT_INFO
		WHERE 
			dcinf_status="적용"
	</select>
	
	<!-- 상영 단가 가져오기 -->
	<select id="selectScreenCost" resultType="kr.co.cinema.dto.ScreenCost">
		SELECT
			scco_code AS sccoCode,
			scco_screen AS sccoScreen,
			scco_price AS sccoPrice,
			scco_applyYear AS sccoApplyYear
		FROM
			SCREEN_COST
		WHERE
			scco_status="적용"
	</select>

	<!-- 결제 등록 -->
	<insert id="insertPayment" parameterType="kr.co.cinema.dto.Payment">
		INSERT INTO PAYMENT(
			pmt_code,
			scs_code,
			mem_id,
			nmem_code,
			scco_code,
			dcinf_code,
			pmt_ticketNum,
			pmt_price,
			pmt_date
		) VALUES (
			#{pmtCode},
			#{scsCode},
			#{memId},
			#{nmemCode},
			#{sccoCode},
			#{dcinfCode},
			#{pmtTicketNum},
			#{pmtPrice},
			now()
			)
	</insert>
	
	<!-- 마일리지 등록 -->
	<insert id="insertMileage" parameterType="kr.co.cinema.dto.Mileage">
		INSERT INTO MILEAGE(
			mil_code,
			pmt_code,
			mem_id,
			mil_use,
			mil_save,
			mil_date
		) VALUES(
			#{milCode},
			#{pmtCode},
			#{memId},
			#{milUse},
			#{milSave},
			now()
		)
	</insert>
	
	
</mapper>