<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.co.cinema.member.MemberMapper">

	<!-- 마이페이지 회원의 마일리지 가져오기 select-->
	<select id="selectMemberMileage" parameterType="String"   resultType="kr.co.cinema.dto.Mileage">
		select 
			mil_use AS milUse,
			mil_save AS milSave,
			mil_date AS milDate
		from 
			MILEAGE 
		where 
			mem_id=#{memId}
	</select>
	
	
	<!-- 한 회원 개인정보 가져오기 select -->
	<select id="selectOneMemberModify" parameterType="String" resultType="kr.co.cinema.dto.Member">
		select 
			mem_id AS memId,
			mem_pw AS memPw,
			mem_phone AS memPhone,
			mem_name AS memName,
			mem_gender AS memGender,
			mem_birth AS memBirth,
			mem_postNo AS memPostNo,
			mem_addr AS memAddr,
			mem_mail AS memMail
		from 
			MEMBER 
		where 
			mem_id=#{memId}
	</select>
	<!-- 한 회원 개인정보 가져오기  -->

	<!-- 비회원 가입 insert 시작 -->
	<insert id="insertNonMember" parameterType="kr.co.cinema.dto.NonMember">
		insert into NON_MEMBER(
			nmem_code,
			nmem_phone,
			nmem_name,
			nmem_birth,
			nmem_pw)
		values(
			#{nmemCode},
			#{nmemPhone},
			#{nmemName},
			#{nmemBirth},
			#{nmemPw})	
	</insert>
	<!-- 비회원 가입 insert 종료 -->

	<!-- 회원가입 중복확인 select 시작 -->
	<select id="selectMemeberOverlap" parameterType="String" resultType="String">
		select 
			mem_id AS memId
		from 
			MEMBER 
		where 
			mem_id=#{memId}
	</select>
	<!-- 회원가입 중복확인 select 종료 -->

	<!-- 회원 로그인 select 시작 -->
	<select id="selectMemberLogin" parameterType="Map" resultType="Map">
		select
			mem_id AS memId,
			mem_pw AS memPw,
			mem_name AS memName,
			mem_phone AS memPhone
		from 
			MEMBER
		where 
			mem_id=#{memId}
		and 
			mem_pw=#{memPw}
	</select>
	<!-- 회원 로그인 select 종료 -->

	<!-- 회원 가입 insert 시작 -->
	<insert id="insertMember" parameterType="kr.co.cinema.dto.Member">
		insert into MEMBER(
			mem_id,		
			mem_pw,
			mem_phone,
			mem_name,
			mem_gender,
			mem_birth,
			mem_postNo,
			mem_addr,
			mem_mail,
			mem_mileage,
			mem_joinDay,
			mem_status
		)values (
			#{memId},
			#{memPw},
			#{memPhone},
			#{memName},
			#{memGender},
			#{memBirth},
			#{memPostNo},
			#{memAddr},
			#{memMail},
			0,
			now(),
			'일반')
	</insert>
	<!-- 회원 가입 insert 종료 -->
	
	<!-- 회원 비밀번호 찾기 select 시작 -->
	<select id="selectOnePwFindMember" parameterType="kr.co.cinema.dto.Member" resultType="String">
		select
			mem_pw AS memPw
		from 
			MEMBER 
		where	
			mem_id=#{memId} and
			mem_name=#{memName} and
			mem_phone=#{memPhone} 	
	</select>
	<!-- 회원 비밀번호 찾기 select 종료 -->
	
	<!-- 회원 아이디 찾기 select 시작 -->
	<select id="selectOneIdFindMember" parameterType="kr.co.cinema.dto.Member" resultType="String">
		select
			mem_id AS memId 
		from 
			MEMBER 
		where 
			mem_name=#{memName} and 
			mem_birth=#{memBirth} and
			mem_phone=#{memPhone}
	</select>
	<!-- 회원 아이디 찾기 select 종료 -->
	
</mapper>