<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.co.cinema.HomeMapper">

	<!-- 마지막 코드(PK) 가져오기(비회원, 마일리지, 한줄평/평점, 한줄평추천, 좌석(다:다) -->
	<select id="selectCode" parameterType="String" resultType="String">
		SELECT
			max(nmem_code)
			<!-- <if test='kind.equals("nonMember")'>
				max(nmem_code)	
			</if>
			<if test='kind.equals("mileage")'>
				max(mil_code)	
			</if>
			<if test='kind.equals("reply")'>
				max(rp_code)
			</if>
			<if test='kind.equals("replyRecommend")'>
				max(reco_code)
			</if>
			<if test='kind.equals("seats")'>
				max(seats_code)
			</if> -->
		FROM
			NON_MEMBER
			<!-- <if test='kind.equals("nonMember")'>
				NON_MEMBER
			</if>
			<if test='kind.equals("mileage")'>
				MILEAGE
			</if>
			<if test='kind.equals("reply")'>
				REPLY
			</if>
			<if test='kind.equals("replyRecommend")'>
				REPLY_RECOMMEND
			</if>
			<if test='kind.equals("seats")'>
				SEATS
			</if> -->
			
	<!-- 마지막 스크린 코드(PK) 가져오기 -->
	</select>
	<select id="selectScreenCode" parameterType="int" resultType="String">
		SELECT
			max(scr_code)
		FROM 
			SCREEN
		WHERE 
			brc_code=#{brcCode}
	</select>

</mapper>