<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.co.cinema.analisys.AnalisysMapper">
 
 	<!-- 지점 정보 가져오기-->
 	<select id="selectBranchInfo" resultType="kr.co.cinema.dto.Branch">
 		SELECT
 			brc_code AS brcCode,
 			brc_name AS brcName,
 			brc_local AS brcLocal,
 			brc_addr AS brcAddr
 		FROM
 			BRANCH
 		
 	
 	</select>
 
	 <!-- 지점에서 영화 매출,예매수 확인 -->
	 <select id="seleceBrcCntSale" parameterType="Map" resultType="Map">
	 	SELECT
			BRANCH.brc_name AS brcName,
			MOVIE.mov_korName AS movKorName,
			BRANCH_DAY_COUNT.brcCnt_clientCount AS brcCntClientCount,
			BRANCH_DAY_COUNT.brcCnt_saleTotal AS brcCntSaleTotal,
			BRANCH_DAY_COUNT.brcCnt_date AS brcCntDate
		FROM
			BRANCH_DAY_COUNT
		JOIN
			BRANCH
		ON
			BRANCH_DAY_COUNT.brc_code=BRANCH.brc_code
		JOIN
			MOVIE
		ON
			BRANCH_DAY_COUNT.mov_code=MOVIE.mov_code
		WHERE
			BRANCH_DAY_COUNT.brcCnt_date between #{brcCntDate1} and #{brcCntDate2}
			<if test="brcName != 'main'">
		AND
			BRANCH.brc_name=#{brcName}	
			</if>
			
	 </select>
</mapper>